html, body {
  color: red;
  background: #222
}

.div {
  color: red
}

.div2 {
  color: #222
}

.div3 {
  color: black
}

.div3 {
  color: white
}

.div5 {
  color: green
}

.duv6 {
  background: black
}